
{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href="{% static 'joebananas/style.css' %}">

{% block content %}

<style>
.login {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center
}
h2 {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center
}
</style>



<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">

     <p style="font-family: sans-serif">Here I go, deep type flow</p><p style="font-family: sans-serif">Jacques Cousteau could never get this low</p>
    </h5>

      <a href="{% url 'home' %}" style="font-family: sans-serif;">Home</a>

  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<br />
<h2 style="font-family: sans-serif;">Login:</h2>
  <form class="login" method="post">
    <div>
      {% csrf_token %}
      <!-- for security -->

      <!-- old form -->
<!--  <label name="username" style="font-family: sans-serif;">Username:</label>
      <input type ="email" id="username" name="username" placeholder="plz enter ur username" />
      <br />
      <label name="password" style="font-family: sans-serif;">Password:</label>
      <input type="password" id="password" name="password" placeholder="plz enter ur password" />  -->


     {{ form.as_p }}
   <!-- rendering as <p> -->
     
      <br />
      <input type="submit" value="Submit" />
    </div>
  </form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

{% endblock %}